

  .App {
    font-family: "hacen";
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type:none;
    margin: auto;
    width: 60%;
  }
  
  .column {
    flex: 2;
width: 45%;  }
  
  input[type="file"] {
    display: none;
}

.stylePicturesButton{
  width: 50%;
  height: 35%;
  background-color:#232f3f;
  padding: 6px;
  color: aliceblue;
  border-radius: 6px;
  text-align: center;
  padding-bottom: 8px;

}

h3{
  text-align: center;
  color:#232f3f;
}